:root {
  --whitecolor: white;
  --bannerBackgroundGrey: rgb(86, 88, 93);
  --mainBackgroundGrey: rgba(60, 63, 70, 0.911);
  --lightColour: rgb(223, 229, 228);
  --generalPadding: 25px;
  --halfPadding: 12px;
  --doublePadding: 50px;
  --darkBlueText: rgba(18, 18, 138, 0.788);
  --tileWidth: 33%;
  --tileHeight: 450px;
  --doubleTileWidth: 100%;
  --paddingLeftH2: 2%;
  --paddingRightH2: 50px;
}


.App {
  text-align: left;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Custom Classes */

.contactli {
  list-style-type: none;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.customBorder {
  border: solid 5px var(--lightColour);
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
}

.customBorderR {
  border: solid 5px var(--lightColour);
  border-radius: 0px 20px 20px 0px;
}

.customBorderL {
  border: solid 5px var(--lightColour);
  border-radius: 20px 0px 0px 20px;
}

.photoImage {
  border-radius: 20px;
  height: 200px;
  width: 200px;
  object-fit: contain;
}